<ngx-ui-loader fgsColor="#ff4081" pbColor="#ff4081" text="Please Wait..."></ngx-ui-loader>

<body class="d-flex flex-column min-vh-100">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

        <a class="navbar-brand" routerLink="/books">Online Bookstore</a>

        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
            <li class="nav-item"><a class="nav-link" href="#!">About us</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Contact us</a></li>
            <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li> -->
        </ul>

        <!-- this is for search component -->
        <app-search></app-search>

        <!-- this is for cart status component -->
        <div class="mx-auto">
            <app-cart-status></app-cart-status>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#!">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Login</a></li>
            <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li> -->
        </ul>
        <!-- <form class="d-flex">
                <button class="btn btn-outline-light" type="submit">
                    <i class="fas fa-cart-arrow-down"></i>
                    Cart
                    <span class="badge bg-dark ms-1 rounded-pill">0</span>
                </button>
            </form> -->


    </nav>
    <br />
    <!-- Header-->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <!-- /.container -->
    <!-- Footer-->
    <footer class="mt-auto">
        <div class="footer-copyright py-5 bg-dark">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
    <!-- Footer -->
</body>