<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->

<div class="row">
  <div class="col-md-3">
    <app-book-category></app-book-category>
  </div>

  <div class="col-md-9">
    <div class="row">

      <div class="card card-columns mx-1 my-1" style="width: 20rem;" *ngFor="let book of books">
        <a routerLink="/books/{{book.id}}">
          <img [src]="book.imageUrl" class="card-img-top img-fluid">
        </a>
        <div class="card-body d-flex flex-column h-100">
          <h5 class="card-title"><a routerLink="/books/{{book.id}}">{{book.name}}</a></h5>
          <h5 class="pull-right">{{book.unitPrice | currency : 'INR'}}</h5>
          <p class="card-text text-truncates">{{book.description}}</p>
          <hr />
          <button class="btn btn-primary mt-auto align-self-end float-right" (click)="addToCart(book)">Add Cart</button>

        </div>
      </div>

      <div *ngIf="books?.length == 0 || !books" class="col-md-12 alert alert-warning mt-3">
        No Books Found
      </div>

    </div>

    <div *ngIf="books?.length > 0">
      <div class="row">
        <!-- handle the page size -->
        <div class="col-md-6">

          <div class="row">
            <div class="col-md-4">
              <span class="mr-2">Page Size:</span>
            </div>

            <div class="col-md-8">
              <select (change)="updatePageSize($any($event.target).value)" class="form-control-sm" style="width: 20%;">
                <option selected>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
              </select>
            </div>

          </div>

        </div>
        <!-- handle the pagination -->
        <div class="col-md-6">
          <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="totalRecords"
            (pageChange)="listBooks()" class="d-flex justify-content-end">
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
            <ng-template ngbPaginationFirst>First</ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>

  </div>

</div>