<div class="row">
    <div class="col-md-3">
        <!-- category components -->
        <app-book-category></app-book-category>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="cartItems.length > 0">
                    <table class="table table-bordered">
                        <thead class="bg-dark text-light">
                            <tr>
                                <td width="20%">Book Image</td>
                                <td width="50%">Book Details</td>
                                <td width="30%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cartItems">
                                <td>
                                    <img [src]="cartItem.imageUrl" width="150" height="200" class="img-responsive" />
                                </td>
                                <td>
                                    <p>{{cartItem.name}}</p>
                                    <p>{{ cartItem.unitPrice | currency: 'INR' }}</p>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Quantity:                                                
                                                <span (click)="remove(cartItem)" class="text-danger pointer float-right">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <button (click)="increamentQuantity(cartItem)" class="btn btn-primary btn-sm float-left">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            {{ cartItem.quantity }}
                                        </div>
                                        <div class="col-md-4">
                                            <button (click)="decreamentQuantity(cartItem)" class="btn btn-primary btn-sm float-right">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>

                                        <div class="col-md-12">
                                            Subtotal: {{ cartItem.quantity * cartItem.unitPrice | currency: 'INR' }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="font-weight-bold">
                                    <p>Total Quantity: {{ totalQuantity }}</p>
                                    <p>Shipping : FREE</p>
                                    <p>Total Price: {{ totalPrice | currency: 'INR' }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="cartItems.length == 0" class="alert alert-warning" role="alert">
                    Your Cart is Empty !!!
                </div>
            </div>
        </div>
    </div>

</div>